.Welcome-message{
    font-size: 2.5em;
    background-color: rgb(122, 208, 10);
    color: aliceblue;
    padding:10px;
    border-radius: 5px;
    margin:0;
    
}
.login-open{
    font-size: 2.5em;
    background-color: rgb(199, 10, 10);
    color: aliceblue;
    padding:10px;
    border-radius: 5px;
    margin:0;
}