.box {
  width: 90%;
  max-width: 700px;
  margin: 16px auto;
  padding: 14px;
  border-radius: 8px;
  background: #034f33;
  border: 1px solid #fbfcfd;
  box-shadow: 0 2px 6px rgba(20, 30, 50, 0.05);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

h1 {
  margin: 0 0 8px;
  font-size: 20px;
  color: #d8962a;
}

h2 {
  margin: 0;
  font-size: 16px;
  color: #fdfdfd;
}

button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #cfe3fb;
  background: #765c1e;
  cursor: pointer;
  font-size: 14px;
  color: rgb(222, 207, 207);
}

button:hover {
  background: #2c277b;
}
